 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap');

body {
    background-color: #222222;
}

.headerNav{
    display: flex;
    justify-content: center;
    background-color: #333;
    font-family: 'Oswald', sans-serif;
    
}

.headerNav li{
    display: inline-block;
    margin: 0 28px;
    font-size: 36px;
    
}

.headerNav li a{
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #5757575e;
    color: #ffffff;
    height: auto;
    width: auto;
  }

.headerLogo {
    padding-top: 36px;
    width: auto;
    height: 110px;
}

.mainHeader {
    display: flex;
    font-family: "Oswald", sans-serif;
    justify-content: center;
    color: white;
    font-size: 35px;
}

  /* start card css */

.bullets {
    position: absolute;
    bottom: 20px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
  }
  
  .bullet {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 4px / 2;
    margin-right: 4px / 2;
    border-radius: 50%;
    border: solid 2px white;
    box-sizing: border-box;
    
    &.bullet01 { background: white; }
  }
  
  *:target ~ .bullets .bullet01 { 
    background: transparent;
  }
  
  #target-slide01:target ~ .bullets .bullet01 {
    background: white;
  }
  #target-slide02:target ~ .bullets .bullet02 {
    background: white;
  }
  #target-slide03:target ~ .bullets .bullet03 {
    background: white;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    background: rgb(90, 90, 90);
    height: 400px;
    margin-top: 45px;
    
    
    &:before {
      content: '';
      display: block;
      padding-bottom: 56.25%;
    }
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    transition: opacity .8s;
    
    &#slide01 {
      opacity: 1;
      z-index: 2;
    }
  }
  
  #slide01 { background-image: url('http://lorempixel.com/output/sports-q-c-901-901-3.jpg'); }
  #slide02 { background-image: url('http://lorempixel.com/output/people-q-c-901-901-5.jpg') }
  #slide03 { background-image: url('http://lorempixel.com/output/city-q-c-901-901-4.jpg') }
  
  .nav {
    position: absolute;
    top: 50%;
    left: 20px;
    display: block;
    padding: 5px 15px;
    text-align: left;
    font-size: 5em;
    color: #fff;
    text-decoration: none;
    transform: translateY(-50%);
    
    &.nav--next {
      left: auto;
      right: 20px;
    }
  }
  
  *:target ~ #slide01 { 
    opacity: 0;
    z-index: 1;
  }
  
  #target-slide01:target ~ #slide01 {
    opacity: 1;
    z-index: 2;
  }
  #target-slide02:target ~ #slide02 {
    opacity: 1;
    z-index: 2;
  }
  #target-slide03:target ~ #slide03 {
    opacity: 1;
    z-index: 2;
  }